/*Root stlyes*/
:root {
  --navHeight: 9.26vmin;
  --navActiveOptionWidth: 8vw;
  --hoverColor: #2a6365;
  --themeColor: #449368;
  --boxColor: #e8e8e8;
  --navFontSize: 1.25vw;
}

* {
  box-sizing: border-box;
  letter-spacing: 0.5px;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf");
}

/*@font-face {
    font-family: 'Liberation Sans';
    src: url("../fonts/LiberationSans-Regular.ttf");
}

@font-face {
    font-family: 'Liberation Sans';
    src: url("../fonts/LiberationSans-Bold.ttf");
    font-weight: bold;
    
}*/

html {
  font-family: sans-serif;
  /*disable horizontal scrolling*/
  max-width: 100%;
  overflow-x: hidden;
}

/*Header stlyes*/
header {
  height: calc(100vh - var(--navHeight));
  background-image: url("../images/901207_8bd1c85819534dcc81d9ce6a45f46797_mv2_d_4096_2160_s_2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: sticky;
  height: var(--navHeight);
  background-color: var(--themeColor);
  padding-left: 13.65vw;
  top: 0;
  z-index: 1;
}

nav a {
  height: var(--navHeight);
  display: inline-block;
  text-decoration: none;
  padding: 0 2.5vw;
  margin-right: -5px; /*Deee miiiééért????*/
}

nav a.active,
nav a:hover {
  background-color: var(--hoverColor);
}

nav p {
  line-height: var(--navHeight);
  font-weight: bold;
  font-size: var(--navFontSize);
  color: white;
}

header div {
  margin-left: 13.65vw;
  padding-top: 9.26vh;
  font-weight: bold;
  color: white;
}

header div h1 {
  font-size: 5vmin;
  font-family: "Helvetica";
}

header div p {
  font-size: 1.5vmin;
  margin-top: 5px;
  opacity: 0.8;
}

header div a button {
  margin-top: 2.41vh;
  height: 5.55vmin;
  width: 20vmin;
  background-color: var(--themeColor);
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

header div a button:hover {
  background-color: var(--hoverColor);
}

header div a button p {
  text-align: left;
  margin-left: 0.78125vw;
  color: white;
  display: inline-block;
}

header div a button p i.icon {
  text-align: right;
}

/*Main styles*/
section {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  padding: 8.52vmin;
}

section, .hole-container {
  min-height: calc(100vh - 25vmin - var(--navHeight) * 2);
}

section div {
  width: min-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section div h2,
section h2,
section div h2 a,
section h2 a {
  font-size: 4.16vw;
  text-align: center;
  margin-bottom: 0.78125vmax;
  height: min-content;
}

.uppercase-title {
  text-transform: uppercase;
}

.box-container:not(.last) {
  margin-bottom: 8.52vmin;
}

.box {
  padding: 1.46vw 2.135vw;
  background-color: var(--boxColor);
  height: 27.4vw;
  width: 21vw;
  border-radius: 1.1vw;
  position: relative;
}

.box:not(.scrollable-machine):not(.last) {
  margin-right: 4.43vw;
}

.scrollable-machine {
  width: calc((100% - 2 * 4.43vw) / 3.5) !important;
  min-width: calc((100% - 2 * 4.43vw) / 3.5) !important;
  margin-right: calc((100% - (100% - 2 * 4.43vw)) / 3);
  cursor: pointer;
}

.scrollable-machine:hover {
  background-color: #d9d9d9;
}

.box.long-text {
  width: 71.86vw;
  height: min-content;
}

.small-elements-container {
  height: 27.4vw;
  position: relative;
}

.small-element {
  height: min-content;
  padding: 1.35vw 0.9375vw;
}

.small-element.end {
  position: absolute;
  bottom: 0px;
}

.box h3 {
  font-size: 2.6vw;
  width: 100%;
  text-align: center;
  margin-bottom: 2.6vw;
}

.box .img-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
}

.box img,
iframe {
  max-width: 100%;
  max-height: 15.625vw;
}

.box img.title-img {
  height: 5.4vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.58vw;
}

.box p {
  text-align: center;
  font-size: 1.5625vw;
}

.box p:not(.description):not(.long-text) {
  position: absolute;
  bottom: 0px;
  margin-bottom: 2.135vw;
  width: calc(100% - 2 * 2.135vw);
}

.box p.description {
  font-weight: 500;
  line-height: 2.34375vw;
  color: black;
}

.box p.description .small-title {
  font-weight: bold;
}

.box p,
.box p.long-text {
  color: #3a3a3a;
}

.box p.long-text {
  line-height: 2.34375vw;
  text-align: left;
}

.scroll-box {
  width: 2.1875vw;
  height: 10.32vh;
  display: inline-block;
  cursor: pointer;
}

.scroll-box.prev-box {
  margin-right: 4.43vw;
}

.scroll-box.next-box {
  margin-left: 4.43vw;
}

.box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.black-text {
  color: black !important;
}

.hidden {
  display: none !important;
}

.scrollable-machine-container,
.scrollable-machine-container div {
  width: 100%;
  overflow: hidden;
}

.scrollable-machine-container .box-container {
  margin: 0px;
  overflow-x: scroll;
  padding-bottom: 1vh;
}

/* width */
.scrollable-machine-container .box-container::-webkit-scrollbar {
  height: 1vmin;
}

/* Track */
.scrollable-machine-container .box-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollable-machine-container .box-container::-webkit-scrollbar-thumb {
  background: #bfbfbf;
  border-radius: 0.5vmin;
}

/* Handle on hover */
.scrollable-machine-container .box-container::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}

h2 a {
  color: black;
  text-decoration: none;
}

input,
textarea {
  display: block;
  width: 100%;
  resize: none;
}

.email p {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  text-align: center !important;
}

.email p span {
  width: 98%;
}

.email p span.second {
  display: flex;
  flex-direction: column;
}

.email p span.second, .email p span.fourth {
  margin-left: 2%;
}

.email p span.second textarea {
  height: 100%;
}

.wide-div.last {
  padding-bottom: 0px !important;
}

input[type="submit"],
input[type="reset"] {
  margin-top: 2vmin;
}

@media only screen and (max-width: 900px) {
  .email p {
    grid-template-columns: 1fr;
  }

  .email p span {
    width: 100% !important;
    margin: 0px !important;
  }

  .protruding-text {
    font-size: 1.1vw !important;
  }

  header div a button p {
    font-size: 1.75vmin !important;
  }
}

/*Footer styles*/
footer {
  background-color: var(--themeColor);
  height: var(--navHeight);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.35vw;
}

footer p {
  font-size: 1vmax;
}

footer p a {
  text-decoration: none;
  color: black;
}

footer p a:hover {
  text-decoration: underline;
}
