header {
  height: 25vmin;
  background-position: 27.5% 27.5%;
  background-size: 120vw;
  display: flex;
  align-items: center;
}

header div {
  padding-top: 0px;
}

section {
  padding: 0vw;
}

section div.wide-div {
  width: 100%;
}

section div.wide-div, .padding-div {
  padding: 5vmin 13.65vw !important;
}

.box.wide {
  height: min-content;
  margin-right: 0px !important;
  margin-bottom: 5vmin;
  width: 100%;
  padding: 2.64vw !important;
}

.box.wide iframe {
  width: 100%;
  min-height: 60vh;
}

.small-elements {
  margin: 0px !important;
}