ErrorDocument 400 http://gladiator-gepkolcsonzo.hu/error.php?code=400

ErrorDocument 401 http://gladiator-gepkolcsonzo.hu/error.php?code=401

ErrorDocument 403 http://gladiator-gepkolcsonzo.hu/error.php?code=403

ErrorDocument 404 http://gladiator-gepkolcsonzo.hu/error.php?code=404

ErrorDocument 500 http://gladiator-gepkolcsonzo.hu/error.php?code=500

ErrorDocument 503 http://gladiator-gepkolcsonzo.hu/error.php?code=503

<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteRule (.*) https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>